/*** VARIABLES / COLORS ***/
:root {
  --background: #202024;
  --main-grey: rgba(17, 17, 17, 0.9);
  --secondary-grey: rgba(17, 17, 17, 0.9);
  --light-grey: #3c3c44;
  --gold: #965f33;
  --offWhite: #e6e6e6;
  --hover: rgba(255, 255, 255, 0.25);
}

/*** MAIN STYLES ***/



body {
  width: 100%;
  margin: 0;
  background: var(--background);
  color: var(--offWhite);
  font-family: 'Oxygen Mono', monospace, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

#pageContainer {
  padding: 5em;
  padding-top: 0;
}

.sectionHeading {
  font-size: 3em;
  margin: 50px;
  font-weight: normal;
  text-align: center;
}

.sectionInfo {
  font-size: 1.4em;
}

* {
margin:0;
padding:0;
-webkit-box-sizing:border-box;
box-sizing:border-box;
}

html {
background-color:#fff;
color:#555;
font-family:'Lato','Arial',sans-serif;
font-weight:300;
font-size:20px;
text-rendering:optimizeLegibility;
width: 100%;
overflow-x: hidden;
}

.clearfix {
zoom:1;
}

.clearfix:after {
content:'.';
clear:both;
display:block;
height:0;
visibility:hidden;
}

h1,h2,h3 {
font-weight:300;
margin-top:30px;
text-align:center;
}

h1 {
margin-top:0;
margin-bottom:20px;
color:#fff;
font-size:240%;
word-spacing:4px;
letter-spacing:1px;
text-transform:uppercase;
}

h2 {
font-size:180%;
word-spacing:2px;
margin-bottom:30px;
letter-spacing:1px;
text-transform:uppercase;
}

h3 {
font-size:110%;
margin-bottom:15px;
}

h2:after {
display:block;
height:2px;
background-color:#e6eeff;
content:" ";
width:100px;
margin:0 auto;
margin-top:30px;
}

.long-copy {
line-height:145%;
width:70%;
margin-left:15%;
margin-right:15%;
}

.box p {
font-size:90%;
line-height:145%;
}

.icon-big {
font-size:350%;
display:block;
color:#e6eeff;
margin-bottom:10px;
}

.icon-small {
display:inline-block;
width:30px;
text-align:center;
color:#e6eeff;
font-size:120%;
margin-right:10px;
line-height:120%;
vertical-align:middle;
margin-top:-4px;
}

a:link,a:visited {
color:#e6eeff;
text-decoration:none;
padding-bottom:1px;
border-bottom:1px solid #e6eeff;
-webkit-transition:border-bottom 0.2s,color .2s;
transition:border-bottom 0.2s,color .2s;
}

a:hover,a:active {
color:#555;
border-bottom:1px solid transparent;
}

.row {
max-width:1140px;
margin:0 auto;
}

section {
padding:80px 0;
}

.box {
padding:1%;
}

header {
background-image:-webkit-linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/background.png);
background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/background.png);
background-size:cover;
background-position:center;
height:100vh;
background-attachment:fixed;
}

.hero-text-box {
position:absolute;
width:1140px;
top:50%;
left:50%;
-webkit-transform:translate(-50%,-50%);
-ms-transform:translate(-50%,-50%);
transform:translate(-50%,-50%);
}

.logo,.logo-black {
height:50px;
width:auto;
float:left;
margin-top:10px;
}

.logo-black {
display:none;
}

.main-nav {
float:right;
list-style:none;
margin-top:20px;
}

.main-nav li {
display:inline-block;
margin-left:40px;
}

.main-nav li a:link,.main-nav li a:visited {
padding:4px 0;
color:#fff;
text-decoration:none;
text-transform:uppercase;
font-size:90%;
border-bottom:2px solid transparent;
-webkit-transition:border-bottom .2s;
transition:border-bottom .2s;
}

.main-nav li a:hover,.main-nav li a:active {
border-bottom:2px solid #e6eeff;
}

.mobile-nav-icon {
float:right;
margin-top:30px;
cursor:pointer;
display:none;
}

.mobile-nav-icon i {
font-size:200%;
color:#fff;
}

.sticky {
position:fixed;
top:0;
left:0;
width:100%;
background-color:rgba(245,255,255,0.98);
-webkit-box-shadow:0 2px 2px #efefef;
box-shadow:0 2px 2px #efefef;
z-index:9999;
}

.sticky main-nav {
margin-top:18px;
}

.sticky .main-nav li a:link,.sticky .main-nav li a:visited {
padding:16px 0;
color:#555;
}

.sticky .logo {
display:none;
}

.sticky .logo-black {
display:block;
}

/*** MY WORK SECTION / PROJECT CARDS ***/
#cardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.card {
  width: 300px;
}

.cardTitle {
  font-size: 1.5rem;
}

.cardBody {
  padding: 6px;
  width: 100%;
  border: 2px solid var(--light-grey);
  border-radius: 0 0 10px 10px;
}

.projectImageWrapper {
  width: 300px;
  height: 300px;
}

.projectImageWrapper img {
  border-radius: 10px 10px 0 0;
}

.screenshot {
  height: 100%;
  width: 100%;
}

.cardTitle {
  text-align: center;
  font-weight: bold;
  margin: 10px;
}

.buttonWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.buttonWrapper .btn {
  margin: 0.5rem;
}

.description {
  margin-bottom: 15px;
}

.skillsList {
  margin-top: 5px;
  list-style: none;
}

.skillsList li{
  border: 1px solid var(--background);
  padding: 12px;
  background-color: var(--light-grey);
}

.section-Umiejetnosci {
padding:0;
background-color:#2c3134;
}

.showme {
list-style:none;
width:100%;
}

.section-Projekty {
background-color:#293131;
padding:0;
}

.showcases {
list-style:none;
width:100%;
}

.showcase li {
display:block;
float:left;
width:25%;
}

.photo {
width:100%;
margin:0;
overflow:hidden;
background-color:#000;
}

.photo img {
opacity:.7;
width:100%;
height:auto;
-webkit-transform:scale(1.15);
-ms-transform:scale(1.15);
transform:scale(1.15);
-webkit-transition:-webkit-transform 0.5s,opacity .5s;
transition:transform 0.5s,opacity .5s;
}

.photo img:hover {
color:transparent;
opacity:1;
-webkit-transform:scale(1.03);
-ms-transform:scale(1.03);
transform:scale(1.03);
}

.section-Kontakt .long-copy {
position:absolute;
margin-bottom:30px;
}

footer {
background-color:#333;
padding:50px;
font-size:80%;
}

footer p {
color:#888;
text-align:center;
margin-top:20px;
}

.row::after {
content:"";
clear:both;
display:table;
}

.js--wp-1,.js--wp-2,.js--wp-3 {
opacity:0;
-webkit-animation-duration:1s;
animation-duration:1s;
}

.js--wp-4 {
-webkit-animation-duration:1s;
animation-duration:1s;
}

.js--wp-1 .animated,.js--wp-2 .animated,.js--wp-3 .animated {
opacity:1;
}

.line {
      position: relative;
      top: 50%;
      width: 10em;
      margin: 0 auto;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
      font-size: 250%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;transform: translateY(-50%);
}

/*Animation*/

.anim-typewriter {
      animation: typewriter 3s steps(40) 1s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width: 11em;
      }
}

@keyframes blinkTextCursor {
      from {
            border-right-color: rgba(255, 255, 255, 0.75);
      }
      to {
            border-right-color: transparent;
      }
}

/* Przycisk */

.landingButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#projectBtn {
  margin-right: 25px;
  font-size: 1.3em;
}

#resumeBtn {
  font-size: 1.3em;
}
